.home{
    width: 100vw;
    height: 100vh;
    background: #01122a;
    display: flex;
    cursor: url("../../Assets/Images/cursor_flecha.png"), auto;
}
.panel{
    width: 99vw;
    height: 99vh;
    background: #282c34;
    margin: auto;
    border-radius: 8px;
}